html {
	position: relative;
	min-height: 100%
}

body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: museo-sans-rounded;
	overflow-x: hidden;
	min-width: 320px
}

.container {
	max-width: 1110px;
	width: 100%;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

@media (max-width:1110px) {
	.container {
		padding-left: 20px;
		padding-right: 20px
	}
}

.nopadding,
li,
ul {
	padding: 0
}

:focus {
	outline: 0
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
	outline: 0;
	outline-offset: -2px
}

a,
a:active,
a:focus,
a:hover {
	outline: 0
}

a {
	border: 0
}

li,
ul {
	list-style: none;
	margin: 0
}

a.r-more,
button.r-more {
	font-size: 20px;
	font-family: museo-sans-rounded, sans-serif;
	font-style: normal;
	display: inline-block;
	border-radius: 6px;
	margin-top: 16px;
	-o-transition: all .35s;
	-webkit-transition: all .35s;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none
}

label {
	font-weight: 400
}

a.r-more,
button.r-more {
	font-weight: 800;
	color: #fff
}

a.r-more {
	background: #f36;
	padding: 11px 39px 9px;
	-moz-transition: all .35s;
	transition: all .35s
}

a.r-more:hover {
	background: #ff5c85
}

button.r-more {
	background: #f36;
	padding: 10px 39px;
	-moz-transition: all .35s;
	transition: all .35s
}

button.r-more:hover {
	background: #c36
}

.top_bar.affix {
	z-index: 5555;
}

.main-hdr.affix {
	position: relative;
	background: #fff;
	z-index: 4444
}

.affix {
	width: 100%;
	top: 0
}

.form_model {
	background: rgba(0, 0, 0, .5)
}

.form_model .modal-dialog {
	max-width: 460px;
	margin-top: 194px
}

@media (max-width:991px) {
	body {
		overflow-x: hidden
	}
	.form_model .modal-dialog {
		margin-top: 154px
	}
}

@media (max-width:767px) {
	input {
		font-size: 16px
	}
	.form_model .modal-dialog {
		margin: 125px auto
	}
}

.form_model .modal-dialog .modal-content {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #fff;
	background: #222f52;
	padding-top: 13px;
	padding-bottom: 13px
}

.form_model .modal-dialog .modal-content .close {
	position: absolute;
	color: #fff;
	font-size: 30px;
	top: -7px;
	opacity: 1;
	right: 12px
}

.form_model .modal-dialog .modal-content .modal-body {
	text-align: center
}

.form_model .modal-dialog .modal-content .modal-body h3 {
	font-size: 24px;
	color: #fff;
	font-weight: 800;
	margin-bottom: 12px
}

@media (max-width:480px) {
	.form_model .modal-dialog .modal-content .modal-body h3 {
		font-size: 17px
	}
}

.form_model .modal-dialog .modal-content .modal-body p {
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	line-height: 23px;
	margin-bottom: 18px
}

@media (max-width:480px) {
	.form_model .modal-dialog .modal-content .modal-body p {
		font-size: 14px
	}
}

.form_model .modal-dialog .modal-content .modal-body .form_sec {
	display: block
}


.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group {
    width: 315px;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 7px;
    min-height: 60px;
    box-sizing: border-box;
  }

@media (max-width:400px) {
	.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group {
		width: 100%
	}
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group label {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	float: left;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px
}
.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group select.form-control {
	float: left;
	width: 100%;
	text-align: left;
	border: 0;
	height: 46px;
	color: #222f52;
	font-size: 16px;
	position: relative;
	z-index: 15;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	-webkit-transition: all .35s;
	transition: all .35s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 40px
	
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control {
	float: left;
	width: 100%;
	text-align: left;
	border: 0;
	height: 46px;
	color: #222f52;
	font-size: 16px;
	position: relative;
	z-index: 15;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	-webkit-transition: all .35s;
	transition: all .35s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 40px
}


.form_model .modal-dialog .modal-content .modal-body .form_sec .form-fields.small_L input,
.form_model .modal-dialog .modal-content .modal-body .form_sec .form-fields.small_R input {
	text-align: center
}

@media (max-width:1110px) {
	.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control {
		font-size: 14px
	}
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control:focus {
	box-shadow: 0 0 0 2px inset red
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control.name {
	background: url(../../assets/images/person_icon.png) 95% 16px no-repeat #fff
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control.phone {
	background: url(../../assets/images/phone.png) 96% 14px no-repeat #fff
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control.msg {
	background: url(../../assets/images/email_icon.png) 96% 15px no-repeat #fff
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control.date-f {
	background: url(../../assets/images/dates_icon.png) 94% 11px no-repeat #fff
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-group input.form-control.pass {
	background: url(../../assets/images/passengers_icon.png) 95% 9px no-repeat #fff;
	text-align: center
}
.form-block-main .top_form .form_sec form .form-group select.form-control.veh {
    background: white url(../../assets/images/vehicle_icon.png) 95% 9px no-repeat;
  }
  .form-block-main .top_form .form_sec form .form-group input.form-control.veh {
    background: white url(../../assets/images/vehicle_icon.png) 95% 9px no-repeat;
  }
.form_model .modal-dialog .modal-content .modal-body .form_sec .form-fields {
	position: relative;
	float: left;
	width: 100%;
	-moz-transition: all .25;
	-o-transition: all .25;
	-webkit-transition: all .25;
	transition: all .25
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-fields.small_L {
	float: left;
	width: 47%
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .form-fields.small_R {
	float: right;
	width: 47%
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .btn-search {
	background: #f36;
	font-size: 19px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	width: auto;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-top: 9px;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	-webkit-transition: all .25s;
	transition: all .25s
}

.form-block-main .top_form h2,
.form-block-main .top_form h3 {
	font-weight: 800;
	display: block;
	text-align: center;
	font-style: normal
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .btn-search:hover {
	background: #ff5c85
}

.form_model .modal-dialog .modal-content .modal-body .form_sec .error_msg {
	background: red;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 12px;
	color: #fff;
	width: 100%;
	padding-top: 48px;
	padding-bottom: 5px;
	text-align: center
}

.form-control::-webkit-input-placeholder {
	color: #222f52
}

.form-control::-moz-placeholder {
	color: #222f52
}

.form-control:-ms-input-placeholder {
	color: #222f52
}

.form-control:-moz-placeholder {
	color: #222f52
}

.form-block-main {
	position: absolute;
	z-index: 15;
	top: 36px;
	left: 0;
	background: url(../../assets/images/why_top_bg.png) center bottom no-repeat;
	right: 0
}

.form-block-main .top_form {
	position: relative
}

@media (max-width:767px) {
	.form-block-main {
		z-index: 10;
		padding: 20px 0
	}
	.form-block-main .top_form {
		padding-top: 80px
	}
}

.form-block-main .top_form h2 {
	font-size: 43px;
	color: #f36;
	margin-bottom: 18px;
	margin-top: 14px
}

@media (max-width:991px) {
	.form-block-main .top_form h2 {
		font-size: 20px
	}
}

.form-block-main .top_form h3 {
	font-size: 26px;
	margin-top: 4px;
	color: #fff;
	line-height: 33px;
	margin-bottom: 6px
}

.form-block-main .top_form .close_search {
	background: url(../../assets/images/close_btn.png) no-repeat;
	width: 26px;
	height: 26px;
	position: absolute;
	right: 0;
	z-index: 5;
	top: 10px
}

.form-block-main .top_form .close_search.close_btn_m {
	display: none
}

@media (max-width:767px) {
	.form-block-main .top_form .close_search {
		top: -25px;
		right: 8px
	}
	.form-block-main .top_form .close_search.close_btn_m {
		top: 44px;
		right: 22px;
		opacity: 1;
		display: block;
		text-indent: -10000px
	}
}

.form-block-main .top_form .form_sec {
	min-height: 338px;
	box-sizing: border-box;
	text-align: center
}

.form-block-main .top_form .form_sec .for-mobile {
	display: none
}

.form-block-main .top_form .form_sec .for-desktop h3.title-search {
	display: none;
	font-size: 16px;
	font-weight: 1000;
	color: #f36
}

@media (max-width:767px) {
	.form-block-main .top_form .form_sec {
		min-height: inherit
	}
	.form-block-main .top_form .form_sec .for-desktop {
		display: none
	}
	.form-block-main .top_form .form_sec .for-desktop h3.title-search,
	.form-block-main .top_form .form_sec .for-mobile {
		display: block
	}
	.form-block-main .top_form .form_sec .for-desktop.modal {
		background: #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 20px!important;
		padding-right: 20px
	}
	.form-block-main .top_form .form_sec .for-desktop.modal p {
		-webkit-border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
		-ms-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
		margin: 0;
		background: #222f52;
		padding-top: 15px
	}
	.form-block-main .top_form .form_sec .for-desktop.modal form {
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		-ms-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
		background: #222f52;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 19px
	}
	.form-block-main .top_form .form_sec .for-mobile h3.title-for-mobile {
		font-size: 18px;
		font-weight: 700;
		color: #fff
	}
	.form-block-main .top_form .form_sec .for-mobile input::-webkit-input-placeholder {
		color: #242e51;
		font-size: 18px
	}
	.form-block-main .top_form .form_sec .for-mobile input::-moz-placeholder {
		color: #242e51;
		font-size: 18px
	}
	.form-block-main .top_form .form_sec .for-mobile input::-ms-input-placeholder {
		color: #242e51;
		font-size: 18px
	}
	.form-block-main .top_form .form_sec .for-mobile input.form-control {
		float: left;
		width: 100%;
		text-align: center;
		border: 0;
		height: 46px;
		color: #242e51;
		font-size: 16px;
		position: relative;
		z-index: 15;
		font-weight: 500;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		-moz-transition: all .35s;
		-o-transition: all .35s;
		-webkit-transition: all .35s;
		transition: all .35s;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: url(../../assets/images/location_icon.png) 95% 9px no-repeat #fff
	}
	.form-block-main .top_form .form_sec .for-mobile .btn-search {
		background: #f36;
		font-size: 19px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		padding: 4px 38px;
		margin-top: 8px;
		margin-bottom: 15px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		border-radius: 6px;
		-moz-transition: all .25s;
		-o-transition: all .25s;
		-webkit-transition: all .25s;
		transition: all .25s
	}
	.form-block-main .top_form .form_sec .for-mobile .btn-search:hover {
		background: #ff5c85
	}
}

@media (max-width:767px) and (max-width:767px) {
	.form-block-main .top_form .form_sec .for-desktop.modal {
		margin-top: 85px
	}
	.form-block-main .top_form .form_sec .for-desktop.modal p {
		padding-top: 30px
	}
}

@media (max-width:767px) and (max-width:1110px) {
	.form-block-main .top_form .form_sec .for-mobile input.form-control {
		font-size: 14px
	}
}

.form-block-main .top_form .form_sec form {
	display: inline-block;
	width: 100%;
	max-width: 981px
}

.form-block-main .top_form .form_sec form .form-group {
	float: left;
	width: auto;
	margin-right: 17px;
	min-height: 97px;
	margin-bottom: 0;
	box-sizing: border-box
}

@media (max-width:1110px) {
	.form-block-main .top_form .form_sec form {
		max-width: 903px
	}
	.form-block-main .top_form .form_sec form .form-group {
		min-height: 90px
	}
}

.form-block-main .top_form .form_sec form .form-group label {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 6px
}

@media (max-width:991px) {
	.form-block-main .top_form .form_sec {
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		border-radius: 20px
	}
	.form-block-main .top_form .form_sec form {
		max-width: 678px
	}
	.form-block-main .top_form .form_sec form .form-group label {
		font-size: 11px
	}
}

@media (max-width:767px) {
	.form-block-main .top_form .form_sec form .form-group label {
		font-size: 15px
	}
}

.form-block-main .top_form .form_sec form .form-group input::-webkit-input-placeholder {
	color: #242e51
}

.form-block-main .top_form .form_sec form .form-group input::-moz-placeholder {
	color: #242e51
}

.form-block-main .top_form .form_sec form .form-group input::-ms-input-placeholder {
	color: #242e51
}

.form-block-main .top_form .form_sec form .form-group input.form-control {
	float: left;
	width: 100%;
	text-align: center;
	border: 0;
	height: 46px;
	color: #242e51;
	font-size: 16px;
	position: relative;
	z-index: 15;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	-webkit-transition: all .35s;
	transition: all .35s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 40px
}

.form-block-main .top_form .form_sec form .form-group select.form-control {
	float: left;
	width: 100%;
	text-align: center;
	border: 0;
	height: 46px;
	color: #242e51;
	font-size: 16px;
	position: relative;
	z-index: 15;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-moz-transition: all .35s;
	-o-transition: all .35s;
	-webkit-transition: all .35s;
	transition: all .35s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 40px
}

@media (max-width:1110px) {
	.form-block-main .top_form .form_sec form .form-group input.form-control {
		font-size: 14px
	}
}

.form-block-main .top_form .form_sec form .form-group input.form-control:focus {
	box-shadow: 0 0 0 2px inset #0ff
}

.form-block-main .top_form .form_sec form .form-group input.form-control.loc {
	background: url(../../assets/images/location_icon.png) 95% 9px no-repeat #fff
}

.form-block-main .top_form .form_sec form .form-group input.form-control.pass {
	background: url(../../assets/images/passengers_icon.png) 95% 9px no-repeat #fff
}

.form-block-main .top_form .form_sec form .form-group input.form-control.veh {
	background: url(../../assets/images/vehicle_icon.png) 95% 9px no-repeat #fff
}

.form-block-main .top_form .form_sec form .form-group input.form-control.date-f {
	background: url(../../assets/images/dates_icon.png) 94% 11px no-repeat #fff
}

.form-block-main .top_form .form_sec form .form-group input.form-control.time {
	background: url(../../assets/images/time_icon.png) 90% 11px no-repeat #fff
}
.form-block-main .top_form .form_sec form .form-group select.form-control.time {
	background: url(../../assets/images/time_icon.png) 90% 11px no-repeat #fff
}
.form-block-main .top_form .form_sec form .form-group input.form-control.suitcase {
	background: url(../../assets/images/suitcase_icon.png) 90% 12px no-repeat #fff
}

.form-block-main .top_form .form_sec form .form-group .form_boxes {
	position: relative
}

.form-block-main .top_form .form_sec form .form-group .form-fields {
	position: relative;
	float: left;
	width: 100%;
	-moz-transition: all .25;
	-o-transition: all .25;
	-webkit-transition: all .25;
	transition: all .25
}

.form-block-main .top_form .form_sec form .form-group .error_msg {
	background: red;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 12px;
	color: #fff;
	width: 100%;
	padding-top: 48px;
	padding-bottom: 5px;
	text-align: center
}

.form-block-main .top_form .form_sec form .form-group.full {
	width: 315px
}

@media (max-width:1110px) {
	.form-block-main .top_form .form_sec form .form-group.full {
		width: 286px
	}
}

@media (max-width:991px) {
	.form-block-main .top_form .form_sec form .form-group.full {
		width: 171px
	}
	.form-block-main .top_form .form_sec form .form-group.small.last {
		float: right
	}
}

@media (max-width:767px) {
	.form-block-main .top_form .form_sec form .form-group.full {
		width: 100%
	}
}

.form-block-main .top_form .form_sec form .form-group.small {
	width: 155px;
	margin-right: 6px
}

@media (max-width:1110px) {
	.form-block-main .top_form .form_sec form .form-group.small {
		width: 144px
	}
}

@media (max-width:767px) {
	.form-block-main .top_form .form_sec form .form-group.small {
		width: 48%;
		margin-right: 10px
	}
}

@media (max-width:480px) {
	.form-block-main .top_form .form_sec form .form-group.small {
		width: 100%
	}
	.form-block-main .top_form .form_sec form .form-group.small.calling_point {
		min-height: 50px
	}
	.form-block-main .top_form .form_sec form .form-group.small.search_btn {
		min-height: 40px
	}
}

.form-block-main .top_form .form_sec form .form-group.small.last {
	margin-right: 0
}

.form-block-main .top_form .form_sec form .form-group.small .btn-search {
	background: #f36;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: 100%;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-top: 32px;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	-webkit-transition: all .25s;
	transition: all .25s
}

.form-block-main .top_form .form_sec form .form-group.small .btn-search:hover {
	background: #ff5c85
}

@media (max-width:991px) {
	.form-block-main .top_form .form_sec form .form-group.small .btn-search {
		margin-top: 0
	}
}

.form-block-main .top_form .form_sec form .form-group.small .btn-add-cpoint {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	position: relative;
	margin-top: 36px;
	padding: 0
}

.form-block-main .top_form .form_sec form .form-group.small .btn-add-cpoint:before {
	position: relative;
	content: '+';
	font-size: 23px;
	font-weight: 900;
	color: #fff;
	margin-right: 8px
}

.form-block-main .top_form .form_sec form .form-group input.error {
	box-shadow: 0 0 0 2px inset red
}

.form-block-main .top_form .form_sec form .form-group.date {
	width: 315px;
	-moz-transition: all .55s;
	-o-transition: all .55s;
	-webkit-transition: all .55s;
	transition: all .55s;
	transition-delay: .5s
}

@media (max-width:1110px) {
	.form-block-main .top_form .form_sec form .form-group.date {
		width: 286px
	}
}

@media (max-width:991px) {
	.form-block-main .top_form .form_sec form .form-group.small .btn-add-cpoint {
		margin-top: 4px
	}
	.form-block-main .top_form .form_sec form .form-group.date {
		width: 327px
	}
	.form-block-main .top_form .form_sec form .form-group.date.no-mrg-r {
		margin-right: 0
	}
}

@media (max-width:767px) {
	.form-block-main .top_form .form_sec form .form-group.small .btn-add-cpoint {
		font-size: 13px
	}
	.form-block-main .top_form .form_sec form .form-group.date {
		width: 100%
	}
}

.form-block-main .top_form .form_sec form .form-group.date .form-fields {
	width: 154px;
	margin-right: 6px;
	float: left
}

@media (max-width:1110px) {
	.form-block-main .top_form .form_sec form .form-group.date .form-fields {
		width: 139px
	}
}

@media (max-width:991px) {
	.form-block-main .top_form .form_sec form .form-group.date .form-fields {
		width: 160px
	}
}

@media (max-width:767px) {
	.form-block-main .top_form .form_sec form .form-group.date .form-fields {
		width: 48%
	}
}

.form-block-main .top_form .form_sec form .form-group.date .form-fields:last-child {
	float: right;
	margin-right: 0
}

.form-block-main .top_form .form_sec form .form-group.date.s-small .form-fields {
	width: 100%
}

.form-block-main .top_form .form_sec form .form-group.date.s-small .form-fields:last-child {
	width: 0!important;
	overflow: hidden
}

.form-block-main .top_form .form_sec p {
	float: left;
	width: 100%;
	text-align: center;
	margin: 38px 0 26px
}

.form-block-main .top_form .form_sec p a {
	background: #fff;
	display: inline-block;
	padding: 5px;
	width: 101px;
	font-size: 14px;
	font-weight: 500;
	color: #242e51;
	text-decoration: none;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	-webkit-transition: all .25s;
	transition: all .25s
}

.form-block-main .top_form .form_sec p a.active,
.form-block-main .top_form .form_sec p a:hover {
	background: #ff5c85;
	color: #fff
}

@media (max-width:767px) {
	.form-block-main .top_form .form_sec p a {
		width: 46%;
		padding: 12px 0
	}
	.form-block-main .top_form .form_sec p {
		padding-left: 10px;
		padding-right: 10px
	}
}

.form-block-main .top_form .cta_boxes {
	float: left;
	width: 100%
}

.form-block-main .top_form .cta_boxes .box {
	float: left;
	width: 33%;
	text-align: center
}

.form-block-main .top_form .cta_boxes .box h4 {
	font-size: 30px;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	font-style: normal;
	display: block
}

.form-block-main .top_form .cta_boxes .box .icon {
	width: 98px;
	height: 98px;
	margin-bottom: 21px;
	background: #ed6c77;
	border-radius: 50%;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch
}

.form-block-main .top_form .cta_boxes .box .icon:before {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 41px;
	height: 21px;
	width: 21px;
	/* background: url(../../assets/images/value_bg.png) center no-repeat; */
	background-size: 100%
}

.prices-sec,
.prices-sec ul,
.section-cta,
.section-ctad {
	width: 100%;
	position: relative;
	float: left
}

.form-block-main .top_form .cta_boxes .box .icon.booking {
	background: #fab223
}

.form-block-main .top_form .cta_boxes .box .icon.booking:before {
	/* background: url(../../assets/images/booking_bg.png) center no-repeat; */
	background-size: 100%
}

.form-block-main .top_form .cta_boxes .box .icon.fleet {
	background: #ab74af
}

.form-block-main .top_form .cta_boxes .box .icon.fleet:before {
	/* background: url(../../assets/images/fleet_bg.png) center no-repeat; */
	background-size: 100%
}

.form-block-main .top_form .cta_boxes .box p {
	font-size: 21px;
	color: #fff;
	line-height: 24px;
	font-weight: 700;
	margin: 2px 0 0;
	font-style: normal;
	display: block
}

.section-ctad {
	z-index: 9;
	margin-top: 35px
}

@media (max-width:991px) {
	.section-ctad {
		margin-top: 0
	}
}

.section-ctad h2.cta-title {
	font-size: 43px;
	margin-top: 21px;
	color: #f36;
	line-height: 33px;
	font-weight: 800;
	margin-bottom: 38px;
	text-align: center
}

@media (max-width:991px) {
	.section-ctad h2.cta-title {
		font-size: 34px;
		line-height: 35px;
		margin-bottom: 30
	}
}

@media (max-width:767px) {
	.section-ctad h2.cta-title {
		margin-bottom: 0;
		font-size: 21px;
		line-height: 30px;
		margin-top: 0
	}
	.section-ctad h2.cta-title br {
		display: none
	}
	.section-ctad .cta-boxes {
		padding-left: 0;
		padding-right: 0
	}
}

.section-ctad .cta-boxes p {
	font-size: 16px;
	color: #242e51;
	line-height: 24px;
	font-weight: 400;
	margin: 2px 0 13px
}

@media (max-width:991px) {
	.section-ctad .cta-boxes p {
		font-size: 16px;
		line-height: 20px
	}
}

@media (max-width:767px) {
	.section-ctad .cta-boxes p {
		font-size: 14px
	}
	.section-ctad .cta-boxes p br {
		display: none
	}
}

.section-cta {
	z-index: 9;
	margin-top: 35px
}

@media (max-width:991px) {
	.section-cta {
		margin-top: 0
	}
}

.section-cta h2.cta-title {
	font-size: 43px;
	margin-top: 21px;
	color: #f36;
	line-height: 33px;
	font-weight: 800;
	margin-bottom: 38px;
	text-align: center
}

@media (max-width:991px) {
	.section-cta h2.cta-title {
		font-size: 34px;
		line-height: 35px;
		margin-bottom: 30
	}
}

@media (max-width:767px) {
	.section-cta h2.cta-title {
		margin-bottom: 0;
		font-size: 21px;
		line-height: 30px;
		margin-top: 0
	}
	.section-cta h2.cta-title br {
		display: none
	}
	.section-cta .cta-boxes {
		padding-left: 0;
		padding-right: 0
	}
}

.section-cta .cta-boxes p {
	font-size: 16px;
	color: #242e51;
	line-height: 24px;
	font-weight: 300;
	margin: 2px 0 13px
}

.prices-sec h2.cta-title,
.prices-sec ul li a {
	font-weight: 800;
	text-transform: uppercase;
	text-align: center
}

@media (max-width:991px) {
	.section-cta .cta-boxes p {
		font-size: 16px;
		line-height: 20px
	}
}

@media (max-width:767px) {
	.section-cta .cta-boxes p {
		font-size: 14px
	}
	.prices-sec ul,
	.section-cta .cta-boxes p br {
		display: none
	}
}

.prices-sec {
	z-index: 9;
	margin-top: 23px
}

.prices-sec h2.cta-title {
	font-size: 19px;
	margin-top: 21px;
	color: #25b9d6;
	line-height: 25px;
	margin-bottom: 15px
}

.prices-sec ul {
	padding-bottom: 28px;
	background: url(../../assets/images/ul_bg.png) left bottom repeat-x
}

.prices-sec ul li {
	float: left;
	width: 16.666%;
	display: inline-block
}

.prices-sec ul li a {
	display: block;
	color: #f36;
	line-height: 19px;
	font-size: 18px;
	text-decoration: none;
	position: relative
}

.prices-sec ul li a span {
	font-size: 14px;
	color: #25b9d6
}

@media (max-width:991px) {
	.prices-sec h2.cta-title {
		margin-bottom: 15px;
		margin-top: 0
	}
	.prices-sec ul li a {
		font-size: 14px
	}
	.prices-sec ul li a span {
		font-size: 12px
	}
}

.prices-sec ul li a:before {
	position: absolute;
	width: 1px;
	top: 47px;
	right: 0;
	height: 36px;
	background: #242e51;
	content: ""
}

.prices-sec ul li a.last:before {
	display: none
}

.prices-table {
	position: relative;
	float: left;
	width: 100%;
	z-index: 9;
	margin-top: 41px;
	margin-bottom: 20px
}

@media (max-width:767px) {
	.prices-table {
		margin-top: 0
	}
}

.prices-table h2.cta-title {
	font-size: 16px;
	margin-top: 21px;
	color: #222f52;
	line-height: 25px;
	font-weight: 300;
	margin-bottom: 15px;
	text-align: center
}

@media (max-width:991px) {
	.prices-table h2.cta-title {
		margin-bottom: 15px;
		margin-top: 0
	}
}

.prices-table h2.cta-title.travel_title {
	display: none;
	font-size: 19px;
	margin-top: 21px;
	color: #25b9d6;
	line-height: 25px;
	font-weight: 800;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase
}

.prices-table .tablemain ul.top li a,
.prices-table ul li a {
	text-align: right;
	line-height: 58px;
	text-transform: uppercase;
	text-decoration: none
}

.prices-table ul {
	float: left;
	width: 100%;
	margin-top: 193px
}

.prices-table ul li {
	float: left;
	width: 100%;
	position: relative;
	height: 58px
}

.prices-table ul li a {
	display: block;
	color: #25b9d6;
	font-weight: 800;
	font-size: 18px;
	position: relative
}

@media (max-width:991px) {
	.prices-table ul li a {
		font-size: 14px
	}
}

@media (max-width:767px) {
	.prices-table h2.cta-title.travel_title {
		display: block
	}
	.prices-table .tablemain {
		width: 100%;
		position: relative;
		padding-bottom: 25px
	}
}

.prices-table .tablemain ul.top {
	float: left;
	width: 100%;
	margin: 60px 0 0;
	padding: 0;
	border-bottom: #000
}

.prices-table .tablemain ul.top select {
	margin: 0 auto;
	float: none;
	width: 280px;
	height: 45px;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	top: 0;
	text-transform: uppercase;
	font-size: 15px;
	color: #25b9d6;
	border: 0;
	font-weight: 600;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	padding-left: 5px
}

.prices-table .tablemain ul.top select option {
	font-size: 15px
}

.prices-table .tablemain ul.top li {
	float: left;
	border: 0;
	-moz-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg)!important;
	width: 10%;
	margin: 0;
	height: 100%;
	position: relative
}

.prices-table .tablemain ul,
.prices-table .tablemain ul.last li {
	border-bottom: 1px solid #172342
}

@media (max-width:767px) {
	.prices-table .tablemain ul.top select {
		display: block
	}
	.prices-table .tablemain ul.top li {
		display: none
	}
}

.prices-table .tablemain ul.top li:first-child {
	border-left: 0
}

@media (max-width:991px) {
	.prices-table .tablemain ul.top li {
		-moz-transform: rotate(54deg);
		-o-transform: rotate(54deg);
		-ms-transform: rotate(54deg);
		-webkit-transform: rotate(54deg);
		transform: rotate(54deg)!important
	}
}

.prices-table .tablemain ul.top li:after {
	position: absolute;
	width: 1px;
	height: 130px;
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)!important;
	background: #c3c6cf;
	content: "";
	bottom: -19px;
	right: 54px
}

@media (max-width:1110px) {
	.prices-table .tablemain ul.top li:after {
		right: 50px
	}
	.prices-table .tablemain ul li.readmore_btn .readmore {
		line-height: 14px
	}
}

@media (max-width:1024px) {
	.prices-table .tablemain ul.top li:after {
		right: 50px;
		bottom: -25px
	}
}

@media (max-width:991px) {
	.prices-table .tablemain ul.top li:after {
		right: 46px;
		bottom: -26px;
		-moz-transform: rotate(91deg);
		-o-transform: rotate(91deg);
		-ms-transform: rotate(91deg);
		-webkit-transform: rotate(91deg);
		transform: rotate(91deg)!important
	}
}

.prices-table .tablemain ul.top li a {
	float: right;
	padding-right: 20px;
	padding-top: 15px;
	color: #004b8f;
	font-weight: 800;
	font-size: 16px;
	padding-bottom: 0
}

.prices-table .tablemain ul.top li a:hover:before {
	display: none!important
}

.prices-table .tablemain ul {
	float: left;
	width: 10%;
	margin-top: 0;
	padding: 0
}

@media (max-width:767px) {
	.prices-table .tablemain ul {
		width: 697px
	}
}

.prices-table .tablemain ul li {
	float: left;
	width: 100%;
	border: 1px solid #172342;
	border-bottom: 0;
	border-right: 0
}

.prices-table .tablemain ul li.blank {
	background: #d1d3da;
	color: #f36;
	text-align: center;
	font-weight: 800;
	padding-top: 15px
}

@media (max-width:767px) {
	.prices-table .tablemain ul li {
		width: 116.1px;
		border-left: 0;
		border-bottom: 1px solid #172342;
		border-right: 1px solid #172342
	}
	.prices-table .tablemain ul li.a1 {
		border-left: 1px solid #172342
	}
	.prices-table .tablemain ul li.blank {
		display: none
	}
}

.prices-table .tablemain ul li.readmore_btn .readmore {
	width: auto!important;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 2px!important;
	margin-right: 2px!important;
	color: #fff
}

.prices-table .tablemain ul li.readmore_btn .readmore:before {
	display: none
}

@media (max-width:767px) {
	.prices-table .tablemain ul li.readmore_btn {
		position: absolute;
		top: 45px;
		left: 0;
		right: 0;
		margin: 0 auto;
		border: 0;
		width: 150px
	}
	.prices-table .tablemain ul li.readmore_btn .readmore {
		padding: 15px;
		font-size: 16px
	}
}

.prices-table .tablemain ul li a {
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #f36;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 7px;
	font-weight: 800
}

.prices-table .tablemain ul li a span {
	color: #222f52;
	display: block;
	font-size: 14px
}

@media (max-width:991px) {
	.prices-table .tablemain ul li a span {
		font-size: 11px
	}
}

.prices-table .tablemain ul li a:before {
	position: absolute;
	left: 0;
	content: "Book now";
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	line-height: 58px;
	top: 0;
	background: #004b8f;
	width: 100%;
	display: none;
	height: 100%;
	z-index: 555
}

.prices-table .tablemain ul li a.active:before,
.prices-table .tablemain ul li a:hover:before {
	display: block
}

.bg_icons {
	background: #242e51;
	width: 267px;
	height: 267px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch
}

@media (max-width:767px) {
	.bg_icons {
		margin: 0 auto;
		width: 120px;
		height: 120px
	}
	.bg_icons img {
		width: 50px
	}
	.bg_icons img.bus_icon {
		width: 85px
	}
}

.section-booking {
	position: relative;
	z-index: 4;
	float: left;
	width: 100%;
	min-height: 270px;
	background: #fff
}

@media (max-width:767px) {
	.section-booking {
		min-height: auto
	}
	.section-booking.section-last .col-xs-10 {
		width: 100%;
		margin-left: 0
	}
}

.section-booking.section-last {
	min-height: 180px;
	margin-top: 28px
}

.section-booking .safe-reliable-text {
	float: right;
	width: 100%;
	margin-right: 1px
}

@media (max-width:767px) {
	.section-booking.section-last {
		margin-top: 0
	}
	.section-booking .safe-reliable-text {
		flex-direction: column;
		padding: 0 20px
	}
}

.section-booking .safe-reliable-text h2.title-sub {
	font-size: 43px;
	line-height: 55px;
	color: #f36;
	font-weight: 800;
	font-style: normal;
	margin-bottom: 14px;
	margin-top: 10px
}

@media (max-width:991px) {
	.section-booking .safe-reliable-text h2.title-sub {
		font-size: 26px;
		line-height: 32px;
		text-align: center
	}
}

.section-booking .safe-reliable-text .col-why-bottom {
	float: left;
	width: 50%;
	border-left: 1px solid #f36;
	border-right: 1px solid #f36;
	padding-bottom: 28px
}

@media (max-width:767px) {
	.section-booking .safe-reliable-text .col-why-bottom {
		border: 0;
		border-top: 2px solid #242e51;
		padding-top: 10px;
		width: 100%
	}
}

.section-booking .safe-reliable-text .col-why-bottom:last-child {
	border-left: 0;
	border-top: 0 solid #f36
}

.section-booking .safe-reliable-text .col-why-bottom h3.title-sub {
	font-size: 26px;
	line-height: 55px;
	color: #242e51;
	font-weight: 800;
	font-style: normal;
	margin-top: 17px;
	margin-bottom: 0;
	text-align: center
}

@media (max-width:1110px) {
	.section-booking .safe-reliable-text .col-why-bottom h3.title-sub {
		font-size: 23px;
		line-height: 32px;
		margin-top: 0
	}
}

@media (max-width:991px) {
	.section-booking .safe-reliable-text .col-why-bottom h3.title-sub {
		font-size: 19px
	}
}

.section-booking .safe-reliable-text p {
	font-size: 18px;
	color: #242e51;
	line-height: 25px;
	font-weight: 300;
	font-style: normal
}

.section-booking .safe-reliable-text p b {
	font-weight: 700;
	font-style: normal
}

.section-booking .calculated_desc {
	margin-top: 40px;
	padding-left: 30px;
	padding-right: 30px
}

.section-booking .calculated_desc p {
	font-size: 16px;
	font-weight: 300;
	color: #222f52;
	margin-bottom: 15px
}

.section-booking .calculated_desc p strong {
	font-weight: 600;
	font-size: 16px
}

@media (max-width:767px) {
	.section-booking .safe-reliable-text .col-why-bottom:last-child {
		border: 0;
		border-top: 2px solid #242e51;
		border-bottom: 2px solid #242e51
	}
	.section-booking .safe-reliable-text p {
		text-align: center
	}
	.section-booking .container {
		padding-left: 0;
		padding-right: 0
	}
}

.popover {
	background: #242e51;
	max-width: 327px
}

.popover .arrow:after {
	border-bottom-color: #242e51!important
}

.popover img {
	margin-bottom: 15px
}

.popover p {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	font-weight: 500
}

.section-location {
	position: relative;
	z-index: 1;
	margin-top: 100px;
	min-height: 700px;
	background: #12d68c;
	background: -moz-linear-gradient(top, #12d68c 0, #18fbbc 100%);
	background: -webkit-linear-gradient(top, #12d68c 0, #18fbbc 100%);
	background: linear-gradient(to bottom, #12d68c 0, #18fbbc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#12d68c', endColorstr='#18fbbc', GradientType=0)
}

.section-location:after,
.section-location:before {
	content: '';
	right: 0;
	background: #fff;
	position: absolute;
	width: 100%;
	left: 0
}

.section-location:before {
	height: 136px;
	-moz-transform: skew(0, 4deg);
	-o-transform: skew(0, 4deg);
	-ms-transform: skew(0, 4deg);
	-webkit-transform: skew(0, 4deg);
	transform: skew(0, 4deg)!important;
	top: -69px
}

@media (max-width:991px) {
	.section-location {
		margin-top: 72px
	}
	.section-location:before {
		height: 106px
	}
}

.section-location:after {
	height: 181px;
	-moz-transform: skew(0, -4deg);
	-o-transform: skew(0, -4deg);
	-ms-transform: skew(0, -4deg);
	-webkit-transform: skew(0, -4deg);
	transform: skew(0, -4deg)!important;
	bottom: -111px
}

.section-location .container:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	/* background: url(../../assets/images/loc/location_topbg.png) bottom left no-repeat */
}

.section-location .container .section-book-content {
	padding-top: 130px
}

@media (max-width:991px) {
	.section-location .container .section-book-content {
		padding-top: 100px
	}
}

.section-location .container .section-book-content p {
	font-size: 16px;
	color: #242e51;
	line-height: 23px;
	font-weight: 300;
	font-style: normal
}

@media (max-width:767px) {
	.section-location {
		margin-top: 33px;
		min-height: auto;
		padding-bottom: 120px
	}
	.section-location .container .section-book-content {
		padding-top: 70px
	}
	.section-location .container .section-book-content img {
		float: none;
		margin: 0 auto
	}
	.section-location .container .container {
		padding-left: 0;
		padding-right: 0
	}
}

.simple_sec {
	position: relative;
	z-index: 55;
	margin-top: -15px
}

.simple_sec.stay_sec {
	margin-top: 50px
}

.simple_sec.popular_sec {
	margin-top: 100px;
	margin-bottom: 20px
}

@media (max-width:767px) {
	.simple_sec.popular_sec {
		margin-top: 20px
	}
	.simple_sec .top_text h2 br {
		display: none
	}
}

@media (max-width:480px) {
	.popover {
		max-width: 300px
	}
	.popover img {
		width: 100%
	}
	.simple_sec.popular_sec {
		margin-top: 0
	}
}

.simple_sec .top_text h2 {
	font-size: 35px;
	margin-top: 14px;
	color: #f36;
	line-height: 33px;
	font-weight: 800;
	margin-bottom: 34px;
	text-align: center
}

.simple_sec .thumb a span,
.simple_sec ul li a span {
	font-weight: 400;
	text-align: center;
	text-transform: uppercase
}

@media (max-width:991px) {
	.simple_sec .top_text h2 {
		font-size: 30px;
		line-height: 30px
	}
}

@media (max-width:767px) {
	.simple_sec .thumb {
		width: 50%
	}
}

.simple_sec .thumb a {
	text-decoration: none;
	color: #004b8f
}

.simple_sec .thumb a img {
	border: 1px solid #242e51;
	width: 100%
}

.simple_sec .thumb a span {
	display: block;
	font-size: 16px;
	margin-top: 20px
}

@media (max-width:767px) {
	.simple_sec .thumb a span {
		font-size: 13px;
		margin-bottom: 15px
	}
}

@media (max-width:480px) {
	.simple_sec .thumb {
		width: 100%
	}
	.simple_sec .thumb a span {
		font-size: 16px
	}
}

.simple_sec .thumb a:hover {
	color: #f36
}

.simple_sec .thumb a:hover img {
	border-color: #f36
}

.simple_sec ul {
	margin: 0;
	padding: 0
}

.simple_sec ul li {
	margin: 0 2% 30px 0;
	padding: 0;
	width: 18.2%;
	display: inline-block
}

@media (max-width:1100px) {
	.simple_sec ul li {
		width: 18.1%
	}
}

@media (max-width:767px) {
	.simple_sec ul li {
		width: 47%;
		margin-right: 0
	}
	.simple_sec ul li:nth-child(2n) {
		float: right
	}
}

@media (max-width:480px) {
	.simple_sec ul li {
		width: 100%
	}
}

@media (max-width:767px) {
	.simple_sec ul li:nth-child(10) {
		float: right!important
	}
}

.simple_sec ul li:nth-child(5n) {
	float: right;
	margin-right: 0
}

.simple_sec ul li a {
	text-decoration: none;
	color: #004b8f
}

.simple_sec ul li a img {
	border: 1px solid #242e51;
	width: 100%
}

.simple_sec ul li a span {
	display: block;
	font-size: 16px;
	margin-top: 15px
}

.simple_sec ul li a:hover {
	color: #f36
}

.simple_sec ul li a:hover img {
	border-color: #f36
}

.a2,
.a3,
.a4,
.a5,
.a6 {
	display: none
}

@media (max-width:767px) {
	.simple_sec ul li:nth-child(5n) {
		float: left
	}
	.a2,
	.a3,
	.a4,
	.a5,
	.a6 {
		display: block
	}
	.tablelist {
		display: none!important
	}
}

ul.couch_type {
	float: left;
	width: 100%;
	margin-top: 0;
	padding: 0;
	display: none
}

@media (max-width:767px) {
	ul.couch_type {
		display: block!important;
		border-top: 1px solid #172342!important
	}
}

ul.couch_type li {
	float: left;
	width: 16.5%;
	border: 1px solid #172342;
	border-top: 0!important;
	border-bottom: 1px solid #172342!important
}

@media (max-width:767px) {
	ul.couch_type li {
		border-bottom: 0!important;
		border-right: 1px solid #172342!important
	}
	ul.couch_type li:first-child {
		border-left: 1px solid #172342
	}
}

.label_text,
.outer_city#Newcastle ul {
	border-right: 1px solid #172342
}

ul.couch_type li a {
	font-size: 16px!important;
	line-height: 21px;
	text-decoration: none;
	color: #f36;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 7px;
	font-weight: 800
}

ul.couch_type li a span {
	color: #222f52;
	display: block;
	font-size: 14px
}

@media (max-width:991px) {
	ul.couch_type li a span {
		font-size: 11px
	}
}

ul.couch_type li a:hover {
	background: 0 0;
	color: #f36
}

ul.couch_type li a:hover span {
	color: #222f52
}

ul.couch_type li a:hover:before {
	display: none!important
}

.label_text {
	float: left;
	width: 697px;
	background: #e7e9ec;
	color: #25b9d6;
	font-size: 15px;
	padding: 8px 0 8px 20px;
	text-transform: uppercase;
	border-left: 1px solid #172342;
	border-bottom: 0;
	display: none
}

.outer_city {
	display: block
}

@media (max-width:767px) {
	.label_text {
		display: block
	}
	.outer_city {
		display: none;
		float: left;
		margin-top: 60px;
		width: 100%;
		overflow-x: auto
	}
}

select {
	background-color: #fff;
	border: thin solid #00f;
	border-radius: 4px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: .5em 1.5em .5em 1em;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none
}

select.classic,
select.classic:focus {
	background: url(../../assets/images/arrow.jpg) 230px 18px no-repeat #172342
}

#magic-line {
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100px;
	height: 45px;
	background: 0 0
}

#magic-line:before {
	content: "";
	top: 0;
	left: 50%;
	width: 45px;
	height: 45px;
	position: absolute;
	background: url(../../assets/images/bus_hover.png) no-repeat;
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	transform: translate(-50%)!important
}

.remove {
    display : none !important;
  }
  .showQuote {
	  display: none !important;;
  }



  .form-block-main .top_form .form_sec p a.last_btn {
	background: #fff;
	display: inline-block;
	
	font-size: 14px;
	font-weight: 500;
	color: #242e51;
	text-decoration: none;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	-webkit-transition: all .25s;
	transition: all .25s
}

.form-block-main .top_form .form_sec p a.last_btn.active,
.form-block-main .top_form .form_sec p a.last_btn:active {
	background: #ff5c85;
	color: #fff
}
