<div class="container-fulid section-cta">
  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <h2 class="cta-title">{{pageContent.title}}</h2>
      </div>
    </div>
    <div class="col-xs-12 cta-boxes">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p [innerHTML]="pageContent.left_desc"></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p [innerHTML]="pageContent.right_desc"></p>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let content of pageContent.section;let i =index">
 <div [ngClass]="i ==0 ?'container-fulid section-value firstDivo':'container-fulid section-value'" *ngIf="i%2==0" [ngStyle]="{'background-color': content.color_code}">
  <div class="container">
    <div class="col-xs-12">
      <div class="row safe-reliable-text">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1  col-lg-5 col-lg-offset-1 ">
          <div class="bg_icons">
            <img src={{content.file}} class="img-reliable" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2 class="title-sub text-left">{{content.title}}</h2>
          <p class="text-left" [innerHTML]="content.description"></p>
      
        </div>
      </div>
    </div>	
  </div>
</div>

<div class="container-fulid section-booking"  *ngIf="i%2!=0"  [ngStyle]="{'background-color': content.color_code}">
  <div class="container">
    <div class="col-xs-12">
      <div class="row safe-reliable-text">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h2 class="title-sub text-left">{{content.title}} </h2>
          <p class="text-left"  [innerHTML]="content.description"></p>
      
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1  col-lg-5 col-lg-offset-1 ">
          <div class="bg_icons">
            <img src={{content.file}} class="img-reliable" alt="">
          </div>
        </div>
      
      </div>
    </div>	
  </div>
</div>

</div>



<div class="container-fulid section-booking section-last">
  <div class="container">
    <div class="col-xs-12">
      <div class="row safe-reliable-text">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-why-bottom text-center">
          <h3 class="title-sub text-left">Find out about our services </h3>
          <a (click)="NavigationTo('services')" class="r-more">more</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-why-bottom text-center">
          <h3 class="title-sub text-left">Find out about attractions</h3>
          <a (click)="NavigationTo('attraction')" class="r-more">more</a>
        </div>
        
      
      </div>
    </div>	
  </div>
</div> 
