<div class="container-fulid section-cta">
  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <h2 class="cta-title title_thanks">Thank you for your quote</h2>
      </div>
    </div>
    <div class="col-xs-12 cta-boxes">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <p>A member of our team will contact  you shortly to discuss your booking and to arrange payment. Should you have any question, please <br> call 0845 257 9845 where we will be pleased to help.</p>
      </div>
      
    </div>
  </div>
</div>