<div class="container-fulid section-cta">
  <div class="container">
    <div class="col-xs-12">
      <div class="row">
        <h2 class="cta-title">Register your details</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id enim eget mauris luctus pharetra eu a quam. Suspendissetum vestibulum, </p>
      </div>
    </div>
  </div>
  <div class="container login_sec register_sec">
    <div class="col-xs-12">
      <div class="row">
        <form class="register_form">
          <div class="form-group">
              <label>First Name</label>
              <div class="form-fields">
                <input class="form-control loc" id="text1" placeholder="Firstname" type="text">
                <!-- <span class="error_msg">Please complete location</span> -->
              </div>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <div class="form-fields">
              <input class="form-control loc" id="text2" placeholder="Lastname" type="text">
              <!-- <span class="error_msg">Please complete destination</span> -->
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <div class="form-fields">
              <input class="form-control loc" id="text2" placeholder="Email" type="text">
              <!-- <span class="error_msg">Please complete destination</span> -->
              </div>
            </div>
            <div class="form-group">
              <label>Phone number</label>
              <div class="form-fields">
              <input class="form-control loc" id="text2" placeholder="Phone number" type="text">
              <!-- <span class="error_msg">Please complete destination</span> -->
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="form-fields">
              <input class="form-control loc" id="text2" placeholder="Password" type="text">
              <!-- <span class="error_msg">Please complete destination</span> -->
              </div>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <div class="form-fields">
              <input class="form-control loc" id="text2" placeholder="Confirm Password" type="text">
              <!-- <span class="error_msg">Please complete destination</span> -->
             </div>
            </div>
            <div class="form-group loginbtn">
              <button type="submit" class="btn btn-search" >Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>